html {
  min-height: 100%;
  font-size: 12px; }

body {
  min-height: 100vh;
  background-color: #fff;
  padding: 0;
  margin: 0; }
  body button {
    font-size: 12px;
    text-align: center; }
    body button .MuiCircularProgress-root {
      margin: 0 15px 0 0px; }
  body button.btn-primary {
    min-height: 40px;
    min-width: 160px; }
  body .MuiFormLabel-root {
    color: black;
    line-height: 0px; }
  body .MuiInputBase-root {
    color: black; }

.container {
  padding: 0 40px; }

* {
  outline: none !important; }

#root {
  min-height: 100vh; }

h1,
h2,
h3 {
  margin: 0; }

ul {
  margin-bottom: 0;
  padding: 0; }

p {
  margin: 0; }

button {
  background: none;
  border: none; }
  button:focus {
    outline: none; }

a {
  color: #666;
  text-decoration: none; }
  a:hover {
    color: #666; }

ul,
ol {
  padding: 0; }

.mb-15 {
  margin-bottom: 15px; }

.ltr-elm {
  direction: ltr;
  text-align: left; }
  .ltr-elm input {
    direction: ltr;
    text-align: left; }

.va-middle {
  vertical-align: middle; }

/*-----------------------------------
     remove browser autofill 
------------------------------------*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: none;
  transition: background-color 5000s ease-in-out 0s; }

/*-----------------------------------
              place holder
------------------------------------*/
.ph-c::-webkit-input-placeholder {
  text-align: center; }

.ph-c:-moz-placeholder {
  /* Firefox 18- */
  text-align: center; }

.ph-c::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center; }

.ph-c:-ms-input-placeholder {
  text-align: center; }

.ph-r::-webkit-input-placeholder {
  text-align: right;
  font-family: "iransans";
  direction: rtl; }

.ph-r input::-webkit-input-placeholder {
  text-align: right;
  font-family: "iransans";
  direction: rtl; }

.ph-r:-moz-placeholder {
  /* Firefox 18- */
  text-align: right;
  font-family: "iransans";
  direction: rtl; }

.ph-r input:-moz-placeholder {
  text-align: right;
  font-family: "iransans";
  direction: rtl; }

.ph-r::-moz-placeholder {
  /* Firefox 19+ */
  text-align: right;
  font-family: "iransans";
  direction: rtl; }

.ph-r input::-moz-placeholder {
  text-align: right;
  font-family: "iransans";
  direction: rtl; }

.ph-r:-ms-input-placeholder {
  text-align: right;
  font-family: "iransans";
  direction: rtl; }

.ph-r input:-ms-input-placeholder {
  text-align: right;
  font-family: "iransans";
  direction: rtl; }

.form-group {
  margin-bottom: 10px;
  text-align: center;
  width: 100%; }

.btn-group {
  margin-bottom: 15px;
  width: 100%; }

.btn-link {
  border: none;
  background-color: transparent;
  color: #3498db; }
  .btn-link:hover {
    border: none;
    background-color: transparent;
    color: #3498db; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.d-none {
  display: none; }

.page {
  min-height: 100vh; }

/*==================================
-- Material UI
====================================*/
.MuiFormLabel-root,
.MuiMenuItem-root {
  font-family: "iransans" !important; }

.MuiFormControl-root {
  width: 100%; }
  .MuiFormControl-root .MuiOutlinedInput-multiline {
    padding: 0; }

.MuiFormHelperText-contained {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.MuiInputBase-root {
  margin-bottom: 18px; }
  .MuiInputBase-root.Mui-error {
    margin-bottom: 0; }

.MuiFormHelperText-root.MuiFormHelperText-contained.Mui-error {
  height: 15px; }

.MuiTextField-root .MuiOutlinedInput-input {
  padding: 14px; }

.MuiTextField-root .MuiInputLabel-outlined {
  transform: translate(-14px, 15px) scale(1); }

.MuiCircularProgress-colorPrimary {
  color: #fff !important; }

.MuiAlert-message {
  display: flex;
  align-items: center; }

/*==================================
-- Buttons
====================================*/
.btn-primary {
  color: #fff;
  background-color: #1976d2;
  padding: 7px 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  min-width: 100px; }
  .btn-primary:hover {
    background-color: #115293;
    color: #fff; }

@font-face {
  font-family: "iransans";
  src: url(../fonts/iransans.eot) format("embedded-opentype"), url(../fonts/iransans.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  font-family: "iransans";
  direction: rtl;
  text-align: right; }

.MuiFormHelperText-root, .MuiInputBase-input, .MuiTypography-body2, .MuiTypography-body1 {
  font-family: "iransans" !important; }

body[dir="rtl"] .modal-title {
  font-size: 1rem; }

body[dir="rtl"] .modal-header .close {
  margin: -1rem auto -1rem -1rem; }

.dropdown-toggle::after {
  margin-right: 0.255em;
  margin-left: unset;
  vertical-align: middle; }

.dropdown-menu {
  text-align: unset; }

.toast .toast-header {
  justify-content: space-between; }
  .toast .toast-header .close {
    margin-left: 0 !important;
    margin-right: 0.5rem !important; }

.rules {
  text-align: justify; }

.MuiInputBase-root {
  margin-bottom: 10px; }

.MuiFormControlLabel-root {
  margin-right: -70px !important; }

.logo {
  width: 175px;
  margin-bottom: 40px; }

#comp-bottom-up-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; }
  #comp-bottom-up-modal .content {
    background-color: #fff;
    position: absolute;
    right: 15px;
    left: 15px;
    bottom: 0;
    margin-top: 20%;
    padding: 0 15px 15px 15px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; }
    #comp-bottom-up-modal .content .header {
      position: relative; }
      #comp-bottom-up-modal .content .header .hx {
        padding: 15px 0;
        margin: 0; }
      #comp-bottom-up-modal .content .header .btn-close {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        color: #666; }
